body {
  padding: 0px;
  border: 0px;
  margin: 0px;
  background-color: #000;
  color: #fff;
  background-image: url('img/background.png');
  font-family: Andale Mono, monospace;
}

h2, h3 {
  margin: 0;
}

table.mainTable {
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0;
  border: 0px;
  border-collapse: collapse;
}
table.mainTable td, table.mainTable th {
  border: 1px solid #999;
  font-size: 1.3em;
  padding: 5px;
}
td.notes {
  vertical-align: top;
}

/* from RaspberryPints */
span.tapcircle {
  background-color: rgba(153,153,153,.3);
  border-radius: 1em;
  display: inline-block;
  font-weight: bold;
  line-height: 2em;
  margin-right: 5px;
  text-align: center;
  width: 2em;
}
/* end from RaspberryPints */

table.tapList {
  border: 1px solid #999;
}
table.tapList td, table.tapList tr, table.taplist th {
  border: 1px solid #999; 
}

a.button:link, a.button:visited {
  text-decoration: none;
  background-color: #eee;
  color: #333;
  padding: 0px 6px 0px 6px;
  margin: 2px 2px 2px 2px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
  border-left: 1px solid #ccc;
}

a.button:hover, a.button:active {
  background-color: #ccc;
}

table.formTable th {
  text-align: right;
}
table.formTable th, table.formTable td {
  border: 1px solid #999;
}

iframe.preview {
  width: 100%;
  height: 100%;
  border: none;
}
